*.un~
*.swp
*.swo
*.txt
bin*
*.dblite
*.o
ouranos
run_ouranos_tests.py
rtquadrature_test
parameters_test
fecell_test
geometry_test
timediscretization_test
rtmaterialproperties_test
tags
html
radiativetransfer_test
