*.un~
*.swp
*.swo
bin
*.dblite
*.o
ouranos
run_ouranos_tests.py
rtquadrature_test
parameters_test
fecell_test
geometry_test
timediscretization_test
rtmaterialproperties_test
results.txt
tags
html
radiativetransfer_test
